!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

  %body
    #header
      = render '/layouts/navigation'
      #flash_messages.position-fixed.p-3.top-0.end-0{ style: 'z-index: 99999' }= render '/layouts/flash_messages'

    #container.container
      = yield

    = turbo_frame_tag :turbo_frame_none
    = render '/rails_hotreload/stream', custom_style: 'left: 20px; bottom: 20px;'  if Rails.env.development?